# handling missing values Dropna & fillna

In [2]:
import pandas as pd

In [10]:
csv_1 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv")
csv_1.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0.0,342.0,2015.0,July,27.0,1.0,0.0,0.0,2.0,...,Transient,0.0,0.0,0.0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0.0,737.0,2015.0,July,27.0,1.0,0.0,0.0,2.0,...,Transient,0.0,0.0,0.0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Resort Hotel,0.0,13.0,2015.0,July,27.0,1.0,0.0,1.0,1.0,...,Transient,75.0,0.0,0.0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0.0,14.0,2015.0,July,27.0,1.0,0.0,2.0,2.0,...,Transient,98.0,0.0,1.0,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498

In [11]:
#droping missing data which has value NaN of row
csv_1.dropna()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
2392,Resort Hotel,0.0,6.0,2015.0,October,42.0,11.0,2.0,0.0,2.0,...,Transient,82.0,1.0,1.0,Check-Out,2015-10-13,Darryl Phillips,Darryl_Phillips@hotmail.com,731-360-4698,************2677
2697,Resort Hotel,0.0,24.0,2015.0,October,44.0,26.0,7.0,15.0,1.0,...,Transient-Party,52.2,0.0,0.0,Check-Out,2015-11-17,Lynn Gaines,Lynn.Gaines77@yahoo.com,866-053-4253,************6564
2867,Resort Hotel,0.0,24.0,2015.0,November,45.0,3.0,0.0,3.0,2.0,...,Transient-Party,48.0,0.0,0.0,Check-Out,2015-11-06,Richard Diaz,Richard.Diaz@mail.com,836-443-4157,************8259
2877,Resort Hotel,0.0,24.0,2015.0,November,45.0,3.0,2.0,10.0,1.0,...,Transient-Party,40.0,0.0,0.0,Check-Out,2015-11-15,Karen Lynch,KarenLynch@att.com,153-365-6906,************5124
2878,Resort Hotel,0.0,24.0,2015.0,November,45.0,3.0,3.0,10.0,2.0,...,Transient-Party,48.0,0.0,0.0,Check-Out,2015-11-16,Joseph Livingston,Joseph.L@protonmail.com,175-653-7050,************3824
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112499,City Hotel,0.0,13.0,2017.0,May,21.0,24.0,0.0,1.0,2.0,...,Transient-Party,150.0,0.0,1.0,Check-Out,2017-05-25,Meghan Flores,Flores_Meghan@verizon.com,439-451-4147,************8201
113046,City Hotel,0.0,13.0,2017.0,May,22.0,29.0,1.0,3.0,1.0,...,Transient,95.0,0.0,0.0,Check-Out,2017-06-02,Jordan Olson,Jordan.O@mail.com,860-873-3107,************9138
113082,City Hotel,0.0,13.0,2017.0,May,22.0,29.0,1.0,3.0,2.0,...,Transient,110.0,0.0,0.0,Check-Out,2017-06-02,Robert Reynolds,Robert.R@yandex.com,604-257-1344,************8808
113627,City Hotel,0.0,210.0,2017.0,June,23.0,9.0,0.0,1.0,2.0,...,Transient,135.0,0.0,0.0,Check-Out,2017-06-10,Mrs. Colleen Mcdaniel MD,Mrs._MD@outlook.com,929-209-4199,************4558
116451,City Hotel,0.0,191.0,2017.0,July,29.0,16.0,2.0,2.0,2.0,...,Transient,120.6,0.0,2.0,Check-Out,2017-07-20,Jeffrey Lane,Lane.Jeffrey14@verizon.com,616-943-4805,************3172

In [12]:
#droping missing data which has value NaN ofcolumn
csv_1.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[119390 rows x 0 columns]

In [23]:
#droping missing data which has value NaN ofcolumn
csv_1 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv")
c= csv_1.head()
c
c.dropna(how="all")

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0.0,342.0,2015.0,July,27.0,1.0,0.0,0.0,2.0,...,Transient,0.0,0.0,0.0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0.0,737.0,2015.0,July,27.0,1.0,0.0,0.0,2.0,...,Transient,0.0,0.0,0.0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
3,Resort Hotel,0.0,13.0,2015.0,July,27.0,1.0,0.0,1.0,1.0,...,Transient,75.0,0.0,0.0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0.0,14.0,2015.0,July,27.0,1.0,0.0,2.0,2.0,...,Transient,98.0,0.0,1.0,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498

In [33]:
#to remove values Nan values of particular column
csv_1 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv")
csv_1.dropna(subset=["hotel"]) #to remove values of which rows has Nan values for hotel

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0.0,342.0,2015.0,July,27.0,1.0,0.0,0.0,2.0,...,Transient,0.00,0.0,0.0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0.0,737.0,2015.0,July,27.0,1.0,0.0,0.0,2.0,...,Transient,0.00,0.0,0.0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
3,Resort Hotel,0.0,13.0,2015.0,July,27.0,1.0,0.0,1.0,1.0,...,Transient,75.00,0.0,0.0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0.0,14.0,2015.0,July,27.0,1.0,0.0,2.0,2.0,...,Transient,98.00,0.0,1.0,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498
5,Resort Hotel,0.0,14.0,2015.0,July,27.0,1.0,0.0,2.0,2.0,...,Transient,98.00,0.0,1.0,Check-Out,2015-07-03,Jasmine Fletcher,JFletcher43@xfinity.com,190-271-6743,************9263
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0.0,23.0,2017.0,August,35.0,30.0,2.0,5.0,2.0,...,Transient,96.14,0.0,0.0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647
119386,City Hotel,0.0,102.0,2017.0,August,35.0,31.0,2.0,5.0,3.0,...,Transient,225.43,0.0,2.0,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
119387,City Hotel,0.0,34.0,2017.0,August,35.0,31.0,2.0,5.0,2.0,...,Transient,157.71,0.0,4.0,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119388,City Hotel,0.0,109.0,2017.0,August,35.0,31.0,2.0,5.0,2.0,...,Transient,104.40,0.0,0.0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119389,City Hotel,0.0,205.0,2017.0,August,35.0,29.0,2.0,7.0,2.0,...,Transient,151.20,0.0,2.0,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

In [35]:
#inplace #ek hi column ke under multiple NaN values delete
csv_1 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv")
csv_1.dropna(inplace=True) 
csv_1

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
2392,Resort Hotel,0.0,6.0,2015.0,October,42.0,11.0,2.0,0.0,2.0,...,Transient,82.0,1.0,1.0,Check-Out,2015-10-13,Darryl Phillips,Darryl_Phillips@hotmail.com,731-360-4698,************2677
2697,Resort Hotel,0.0,24.0,2015.0,October,44.0,26.0,7.0,15.0,1.0,...,Transient-Party,52.2,0.0,0.0,Check-Out,2015-11-17,Lynn Gaines,Lynn.Gaines77@yahoo.com,866-053-4253,************6564
2867,Resort Hotel,0.0,24.0,2015.0,November,45.0,3.0,0.0,3.0,2.0,...,Transient-Party,48.0,0.0,0.0,Check-Out,2015-11-06,Richard Diaz,Richard.Diaz@mail.com,836-443-4157,************8259
2877,Resort Hotel,0.0,24.0,2015.0,November,45.0,3.0,2.0,10.0,1.0,...,Transient-Party,40.0,0.0,0.0,Check-Out,2015-11-15,Karen Lynch,KarenLynch@att.com,153-365-6906,************5124
2878,Resort Hotel,0.0,24.0,2015.0,November,45.0,3.0,3.0,10.0,2.0,...,Transient-Party,48.0,0.0,0.0,Check-Out,2015-11-16,Joseph Livingston,Joseph.L@protonmail.com,175-653-7050,************3824
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112499,City Hotel,0.0,13.0,2017.0,May,21.0,24.0,0.0,1.0,2.0,...,Transient-Party,150.0,0.0,1.0,Check-Out,2017-05-25,Meghan Flores,Flores_Meghan@verizon.com,439-451-4147,************8201
113046,City Hotel,0.0,13.0,2017.0,May,22.0,29.0,1.0,3.0,1.0,...,Transient,95.0,0.0,0.0,Check-Out,2017-06-02,Jordan Olson,Jordan.O@mail.com,860-873-3107,************9138
113082,City Hotel,0.0,13.0,2017.0,May,22.0,29.0,1.0,3.0,2.0,...,Transient,110.0,0.0,0.0,Check-Out,2017-06-02,Robert Reynolds,Robert.R@yandex.com,604-257-1344,************8808
113627,City Hotel,0.0,210.0,2017.0,June,23.0,9.0,0.0,1.0,2.0,...,Transient,135.0,0.0,0.0,Check-Out,2017-06-10,Mrs. Colleen Mcdaniel MD,Mrs._MD@outlook.com,929-209-4199,************4558
116451,City Hotel,0.0,191.0,2017.0,July,29.0,16.0,2.0,2.0,2.0,...,Transient,120.6,0.0,2.0,Check-Out,2017-07-20,Jeffrey Lane,Lane.Jeffrey14@verizon.com,616-943-4805,************3172

In [40]:
#ek hi column ke under single NaN values delete that only
'''
csv_1 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv")
csv_1.dropna(thresh=1) 
csv_1
'''
#ek hi column ke under 3 NaN values delete that only
csv_1 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv")
csv_1.dropna(thresh=3) 
csv_1

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0.0,342.0,2015.0,July,27.0,1.0,0.0,0.0,2.0,...,Transient,0.00,0.0,0.0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0.0,737.0,2015.0,July,27.0,1.0,0.0,0.0,2.0,...,Transient,0.00,0.0,0.0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Resort Hotel,0.0,13.0,2015.0,July,27.0,1.0,0.0,1.0,1.0,...,Transient,75.00,0.0,0.0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0.0,14.0,2015.0,July,27.0,1.0,0.0,2.0,2.0,...,Transient,98.00,0.0,1.0,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0.0,23.0,2017.0,August,35.0,30.0,2.0,5.0,2.0,...,Transient,96.14,0.0,0.0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647
119386,City Hotel,0.0,102.0,2017.0,August,35.0,31.0,2.0,5.0,3.0,...,Transient,225.43,0.0,2.0,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
119387,City Hotel,0.0,34.0,2017.0,August,35.0,31.0,2.0,5.0,2.0,...,Transient,157.71,0.0,4.0,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119388,City Hotel,0.0,109.0,2017.0,August,35.0,31.0,2.0,5.0,2.0,...,Transient,104.40,0.0,0.0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119389,City Hotel,0.0,205.0,2017.0,August,35.0,29.0,2.0,7.0,2.0,...,Transient,151.20,0.0,2.0,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

In [53]:
#change NaN value to something in whole document
csv_1 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv")
c = csv_1.fillna("python") 
c.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0.0,342.0,2015.0,July,27.0,python,python,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0.0,737.0,2015.0,July,27.0,python,python,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,python,python,python,python,python,python,python,python,python,python,python,python,python,python,python,python,python,python,python
3,Resort Hotel,0.0,13.0,2015.0,July,27.0,304.0,python,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0.0,14.0,2015.0,July,27.0,240.0,python,0.0,Transient,98.0,0.0,1.0,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498

In [59]:
#change NaN value to something to particular row and data
csv_1 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv")
c = csv_1.fillna({"agent":"python","company":'c++',"required_car_parking_spaces":"java"}) 
c.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0.0,342.0,2015.0,July,27.0,python,c++,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0.0,737.0,2015.0,July,27.0,python,c++,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,NaN,NaN,NaN,NaN,NaN,NaN,python,c++,NaN,NaN,NaN,java,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Resort Hotel,0.0,13.0,2015.0,July,27.0,304.0,c++,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0.0,14.0,2015.0,July,27.0,240.0,c++,0.0,Transient,98.0,0.0,1.0,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498

In [63]:
#change NaN value to previous or backward data
csv_1 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv")
c = csv_1.fillna(method="ffill") 
c.head()

'''
csv_1 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv")
c = csv_1.fillna(method="bfill") 
c.head()
'''

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0.0,342.0,2015.0,July,27.0,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0.0,737.0,2015.0,July,27.0,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0.0,737.0,2015.0,July,27.0,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
3,Resort Hotel,0.0,13.0,2015.0,July,27.0,304.0,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0.0,14.0,2015.0,July,27.0,240.0,NaN,0.0,Transient,98.0,0.0,1.0,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498

In [74]:
#change NaN value to previous or backward data
csv_1 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv")
csv_1.fillna(method="bfill",axis=1) 
csv_1.head()

'''
csv_1 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv")
c = csv_1.fillna(method="bfill") 
c.head()

'''

'\ncsv_1 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv")\nc = csv_1.fillna(method="bfill") \nc.head()\n\n'

In [73]:
#inplace
import pandas as pd
csv_1 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv")
csv_1.fillna(12,inplace=True) 

csv_1.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0.0,342.0,2015.0,July,27.0,12.0,12.0,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0.0,737.0,2015.0,July,27.0,12.0,12.0,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,12,12.0,12.0,12.0,12,12.0,12.0,12.0,12.0,12,12.0,12.0,12.0,12,12,12,12,12,12
3,Resort Hotel,0.0,13.0,2015.0,July,27.0,304.0,12.0,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0.0,14.0,2015.0,July,27.0,240.0,12.0,0.0,Transient,98.0,0.0,1.0,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498

In [75]:
#inplace
import pandas as pd
csv_1 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv")
csv_1.fillna("python",limit = 2) #which has only two nan in the column will change to python

csv_1.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0.0,342.0,2015.0,July,27.0,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0.0,737.0,2015.0,July,27.0,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Resort Hotel,0.0,13.0,2015.0,July,27.0,304.0,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0.0,14.0,2015.0,July,27.0,240.0,NaN,0.0,Transient,98.0,0.0,1.0,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498