# Write CSV, read CSV, PANDAS FUNCTIONS

# WRITE CSV

In [4]:
import pandas as pd
d = {"A":[1,2,3,4,5],"S":[6,7,8,9,10],"d":[1,2,3,4,5]}
var = pd.DataFrame(d)
print(var)

   A   S  d
0  1   6  1
1  2   7  2
2  3   8  3
3  4   9  4
4  5  10  5

In [6]:
d = {"A":[1,2,3,4,5],"S":[6,7,8,9,10],"d":[1,2,3,4,5]}
var = pd.DataFrame(d)
print(var)
var.to_csv("Test_new.csv") #with index numbers as well

   A   S  d
0  1   6  1
1  2   7  2
2  3   8  3
3  4   9  4
4  5  10  5

In [7]:
d = {"A":[1,2,3,4,5],"S":[6,7,8,9,10],"d":[1,2,3,4,5]}
var = pd.DataFrame(d)
print(var)
var.to_csv("Test1_new.csv",index=False) #without index

   A   S  d
0  1   6  1
1  2   7  2
2  3   8  3
3  4   9  4
4  5  10  5

In [8]:
d = {"A":[1,2,3,4,5],"S":[6,7,8,9,10],"d":[1,2,3,4,5]}
var = pd.DataFrame(d)
print(var)
var.to_csv("Test2_new.csv",index=False,header=["python","c","c++"]) #change header

   A   S  d
0  1   6  1
1  2   7  2
2  3   8  3
3  4   9  4
4  5  10  5

# Read CSV

In [9]:
import pandas as pd

In [11]:
#to read file
csv_1 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv")
csv_1

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.00,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,Transient,96.14,0,0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,Transient,225.43,0,2,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,Transient,157.71,0,4,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,Transient,104.40,0,0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,Transient,151.20,0,2,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

In [35]:
#to read rows up to particular no
csv_1 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv",nrows=3)
csv_1

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734

In [19]:
#to read columns up to particular no
csv_1 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv",usecols=["name"])
csv_1

                      name
0            Ernest Barnes
1             Andrea Baker
2           Rebecca Parker
3             Laura Murray
4              Linda Hines
...                    ...
119385     Claudia Johnson
119386      Wesley Aguilar
119387        Mary Morales
119388  Caroline Conley MD
119389      Ariana Michael

[119390 rows x 1 columns]

In [20]:
#to read columns up to particular no
csv_1 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv",usecols=["name","email"])
csv_1

                      name                        email
0            Ernest Barnes  Ernest.Barnes31@outlook.com
1             Andrea Baker       Andrea_Baker94@aol.com
2           Rebecca Parker   Rebecca_Parker@comcast.net
3             Laura Murray            Laura_M@gmail.com
4              Linda Hines           LHines@verizon.com
...                    ...                          ...
119385     Claudia Johnson          Claudia.J@yahoo.com
119386      Wesley Aguilar         WAguilar@xfinity.com
119387        Mary Morales     Mary_Morales@hotmail.com
119388  Caroline Conley MD      MD_Caroline@comcast.net
119389      Ariana Michael         Ariana_M@xfinity.com

[119390 rows x 2 columns]

In [22]:
#to read columns up to particular no
csv_1 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv",usecols=[0])
csv_1
'''to read columns up to particular no
csv_1 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv",usecols=[0,3])
csv_1 '''

               hotel
0       Resort Hotel
1       Resort Hotel
2       Resort Hotel
3       Resort Hotel
4       Resort Hotel
...              ...
119385    City Hotel
119386    City Hotel
119387    City Hotel
119388    City Hotel
119389    City Hotel

[119390 rows x 1 columns]

In [26]:
#to skip particular number of rows
csv_1 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv",skiprows=[0,5,7,4])
csv_1

,Resort Hotel,0,342,2015,July,27,1,0.1,0.2,2,...,Transient,0.0.1,0.8,0.9,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
0,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
1,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
2,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.00,0,1,Check-Out,2015-07-03,Jasmine Fletcher,JFletcher43@xfinity.com,190-271-6743,************9263
3,Resort Hotel,0,9,2015,July,27,1,0,2,2,...,Transient,103.00,0,1,Check-Out,2015-07-03,William Velez,Velez_William@mail.com,286-669-4333,************8729
4,Resort Hotel,1,85,2015,July,27,1,0,3,2,...,Transient,82.00,0,1,Canceled,2015-05-06,Steven Murphy,Steven.Murphy54@aol.com,341-726-5787,************3639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119381,City Hotel,0,23,2017,August,35,30,2,5,2,...,Transient,96.14,0,0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647
119382,City Hotel,0,102,2017,August,35,31,2,5,3,...,Transient,225.43,0,2,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
119383,City Hotel,0,34,2017,August,35,31,2,5,2,...,Transient,157.71,0,4,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119384,City Hotel,0,109,2017,August,35,31,2,5,2,...,Transient,104.40,0,0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119385,City Hotel,0,205,2017,August,35,29,2,7,2,...,Transient,151.20,0,2,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

In [27]:
#to make any column index
csv_2 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv",index_col="name")
csv_2

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,email,phone-number,credit_card
name,,,,,,,,,,,,,,,,,,,,,
Ernest Barnes,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,0,Transient,0.00,0,0,Check-Out,2015-07-01,Ernest.Barnes31@outlook.com,669-792-1661,************4322
Andrea Baker,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,0,Transient,0.00,0,0,Check-Out,2015-07-01,Andrea_Baker94@aol.com,858-637-6955,************9157
Rebecca Parker,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,Transient,75.00,0,0,Check-Out,2015-07-02,Rebecca_Parker@comcast.net,652-885-2745,************3734
Laura Murray,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,Transient,75.00,0,0,Check-Out,2015-07-02,Laura_M@gmail.com,364-656-8427,************5677
Linda Hines,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,Transient,98.00,0,1,Check-Out,2015-07-03,LHines@verizon.com,713-226-5883,************5498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Claudia Johnson,City Hotel,0,23,2017,August,35,30,2,5,2,...,0,Transient,96.14,0,0,Check-Out,2017-09-06,Claudia.J@yahoo.com,403-092-5582,************8647
Wesley Aguilar,City Hotel,0,102,2017,August,35,31,2,5,3,...,0,Transient,225.43,0,2,Check-Out,2017-09-07,WAguilar@xfinity.com,238-763-0612,************4333
Mary Morales,City Hotel,0,34,2017,August,35,31,2,5,2,...,0,Transient,157.71,0,4,Check-Out,2017-09-07,Mary_Morales@hotmail.com,395-518-4100,************1821
Caroline Conley MD,City Hotel,0,109,2017,August,35,31,2,5,2,...,0,Transient,104.40,0,0,Check-Out,2017-09-07,MD_Caroline@comcast.net,531-528-1017,************7860
Ariana Michael,City Hotel,0,205,2017,August,35,29,2,7,2,...,0,Transient,151.20,0,2,Check-Out,2017-09-07,Ariana_M@xfinity.com,422-804-6403,************4482

In [29]:
#tochange header to any value
csv_3 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv",header=100)
csv_3

,Resort Hotel,0,102,2015,July,27,3,2,5,2.1,...,Transient,90.95,0.7,0.8,Check-Out,2015-07-10,Susan Wilson,Wilson_Susan@comcast.net,253-535-6431,************9666
0,Resort Hotel,0,4,2015,July,27,4,2,1,2,...,Transient,92.67,0,1,Check-Out,2015-07-07,Barbara Alvarez,Barbara.A87@outlook.com,358-294-6282,************1072
1,Resort Hotel,0,98,2015,July,27,4,2,1,2,...,Transient,71.55,1,0,Check-Out,2015-07-07,Noah Bowers,NoahBowers@protonmail.com,773-380-8502,************7381
2,Resort Hotel,0,92,2015,July,27,4,2,4,1,...,Transient,96.49,0,2,Check-Out,2015-07-10,Thomas Morales,Morales.Thomas@att.com,952-506-4281,************6048
3,Resort Hotel,0,95,2015,July,27,4,2,4,2,...,Transient,85.80,1,2,Check-Out,2015-07-10,Christopher Wilson,Christopher.Wilson@mail.com,189-137-7120,************7117
4,Resort Hotel,0,102,2015,July,27,4,2,5,2,...,Transient,96.30,0,1,Check-Out,2015-07-11,Marcus Mitchell,Marcus.Mitchell40@hotmail.com,496-320-0970,************5645
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119285,City Hotel,0,23,2017,August,35,30,2,5,2,...,Transient,96.14,0,0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647
119286,City Hotel,0,102,2017,August,35,31,2,5,3,...,Transient,225.43,0,2,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
119287,City Hotel,0,34,2017,August,35,31,2,5,2,...,Transient,157.71,0,4,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119288,City Hotel,0,109,2017,August,35,31,2,5,2,...,Transient,104.40,0,0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119289,City Hotel,0,205,2017,August,35,29,2,7,2,...,Transient,151.20,0,2,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

In [39]:
#to make any column index
csv_3 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv",names=["col","col1","col2",...,"col36"])
csv_3

/var/folders/g8/v7l2b4sn4x11vqzg4wlpj1t00000gn/T/ipykernel_32701/3567290921.py:2: DtypeWarning: Columns (1,2,3,5,6,7,8,9,10,11,16,17,18,21,23,24,25,27,28,29) have mixed types. Specify dtype option on import or set low_memory=False.
  csv_3 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv",names=["col","col1","col2",...,"col36"])

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 col  \
hotel        is_canceled lead_time arrival_date_year arrival_date_month arrival_date_week_number arrival_date_day_of_month stays_in_weekend_nights stays_in_week_nights adults children babies meal country market_segment distribution_channel is_repeated_guest previous_cancellations previous_bookings_not_canceled reserved_room_type assigned_room_type booking_changes deposit_type agent company days_in_waiting_list customer_type adr    required_car_parking_spaces total_of_special_requests reservation_status  reservation_status_date
Resort Hotel 0           342       2015              July               27                       1                         0                       0                    2      0.0      0      BB   PRT     Direct         Direct               0                 0                      0                              C                  C                  3               No Deposit   NaN   NaN     0                    Transient     0.0    0                           0                         Check-Out                        2015-07-01
                         737       2015              July               27                       1                         0                       0                    2      0.0      0      BB   PRT     Direct         Direct               0                 0                      0                              C                  C                  4               No Deposit   NaN   NaN     0                    Transient     0.0    0                           0                         Check-Out                        2015-07-01
                         7         2015              July               27                       1                         0                       1                    1      0.0      0      BB   GBR     Direct         Direct               0                 0                      0                              A                  C                  0               No Deposit   NaN   NaN     0                    Transient     75.0   0                           0                         Check-Out                        2015-07-02
                         13        2015              July               27                       1                         0                       1                    1      0.0      0      BB   GBR     Corporate      Corporate            0                 0                      0                              A                  A                  0               No Deposit   304.0 NaN     0                    Transient     75.0   0                           0                         Check-Out                        2015-07-02
...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              ...
City Hotel   0           23        2017              August             35                       30                        2                       5                    2      0.0      0      BB   BEL     Offline TA/TO  TA/TO                0                 0                      0                              A                  A                  0               No Deposit   394.0 NaN     0                    Transient     96.14  0                           0                         Check-Out                        2017-09-06
                         102       2017              August             35                       31                        2                       5                    3      0.0      0      BB   FRA     Online TA      TA/TO                0                 0                      0                              E                  E                  0               No Deposit   9.0   NaN     0                    Transient     225.43 0                           2                         Check-Out                        2017-09-07
                         34        2017              August             35                       31                        2                       5                    2      0.0      0      BB   DEU     Online TA      TA/TO                0                 0                      0                              D                  D                  0               No Deposit   9.0   NaN     0                    Transient     157.71 0                           4                         Check-Out                        2017-09-07
                         109       2017              August             35                       31                        2                       5                    2      0.0      0      BB   GBR     Online TA      TA/TO                0                 0                      0                              A                  A                  0               No Deposit   89.0  NaN     0                    Transient     104.4  0                           0                         Check-Out                        2017-09-07
                         205       2017              August             35                       29                        2                       7                    2      0.0      0      HB   DEU     Online TA      TA/TO                0                 0                      0                              A                  A                  0               No Deposit   9.0   NaN     0                    Transient     151.2  0                           2                         Check-Out                        2017-09-07

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           col1  \
hotel        is_canceled lead_time arrival_date_year arrival_date_month arrival_date_week_number arrival_date_day_of_month stays_in_weekend_nights stays_in_week_nights adults children babies meal country market_segment distribution_channel is_repeated_guest previous_cancellations previous_bookings_not_canceled reserved_room_type assigned_room_type booking_changes deposit_type agent company days_in_waiting_list customer_type adr    required_car_parking_spaces total_of_special_requests reservation_status                name
Resort Hotel 0           342       2015              July               27                       1                         0                       0                    2      0.0      0      BB   PRT     Direct         Direct               0                 0                      0                              C                  C                  3               No Deposit   NaN   NaN     0                    Transient     0.0    0                           0                         Check-Out                Ernest Barnes
                         737       2015              July               27                       1                         0                       0                    2      0.0      0      BB   PRT     Direct         Direct               0                 0                      0                              C                  C                  4               No Deposit   NaN   NaN     0                    Transient     0.0    0                           0                         Check-Out                 Andrea Baker
                         7         2015              July               27                       1                         0                       1                    1      0.0      0      BB   GBR     Direct         Direct               0                 0                      0                              A                  C                  0               No Deposit   NaN   NaN     0                    Transient     75.0   0                           0                         Check-Out               Rebecca Parker
                         13        2015              July               27                       1                         0                       1                    1      0.0      0      BB   GBR     Corporate      Corporate            0                 0                      0                              A                  A                  0               No Deposit   304.0 NaN     0                    Transient     75.0   0                           0                         Check-Out                 Laura Murray
...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         ...
City Hotel   0           23        2017              August             35                       30                        2                       5                    2      0.0      0      BB   BEL     Offline TA/TO  TA/TO                0                 0                      0                              A                  A                  0               No Deposit   394.0 NaN     0                    Transient     96.14  0                           0                         Check-Out              Claudia Johnson
                         102       2017              August             35                       31                        2                       5                    3      0.0      0      BB   FRA     Online TA      TA/TO                0                 0                      0                              E                  E                  0               No Deposit   9.0   NaN     0                    Transient     225.43 0                           2                         Check-Out               Wesley Aguilar
                         34        2017              August             35                       31                        2                       5                    2      0.0      0      BB   DEU     Online TA      TA/TO                0                 0                      0                              D                  D                  0               No Deposit   9.0   NaN     0                    Transient     157.71 0                           4                         Check-Out                 Mary Morales
                         109       2017              August             35                       31                        2                       5                    2      0.0      0      BB   GBR     Online TA      TA/TO                0                 0                      0                              A                  A                  0               No Deposit   89.0  NaN     0                    Transient     104.4  0                           0                         Check-Out           Caroline Conley MD
                         205       2017              August             35                       29                        2                       7                    2      0.0      0      HB   DEU     Online TA      TA/TO                0                 0                      0                              A                  A                  0               No Deposit   9.0   NaN     0                    Transient     151.2  0                           2                         Check-Out               Ariana Michael

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    col2  \
hotel        is_canceled lead_time arrival_date_year arrival_date_month arrival_date_week_number arrival_date_day_of_month stays_in_weekend_nights stays_in_week_nights adults children babies meal country market_segment distribution_channel is_repeated_guest previous_cancellations previous_bookings_not_canceled reserved_room_type assigned_room_type booking_changes deposit_type agent company days_in_waiting_list customer_type adr    required_car_parking_spaces total_of_special_requests reservation_status                        email
Resort Hotel 0           342       2015              July               27                       1                         0                       0                    2      0.0      0      BB   PRT     Direct         Direct               0                 0                      0                              C                  C                  3               No Deposit   NaN   NaN     0                    Transient     0.0    0                           0                         Check-Out           Ernest.Barnes31@outlook.com
                         737       2015              July               27                       1                         0                       0                    2      0.0      0      BB   PRT     Direct         Direct               0                 0                      0                              C                  C                  4               No Deposit   NaN   NaN     0                    Transient     0.0    0                           0                         Check-Out                Andrea_Baker94@aol.com
                         7         2015              July               27                       1                         0                       1                    1      0.0      0      BB   GBR     Direct         Direct               0                 0                      0                              A                  C                  0               No Deposit   NaN   NaN     0                    Transient     75.0   0                           0                         Check-Out            Rebecca_Parker@comcast.net
                         13        2015              July               27                       1                         0                       1                    1      0.0      0      BB   GBR     Corporate      Corporate            0                 0                      0                              A                  A                  0               No Deposit   304.0 NaN     0                    Transient     75.0   0                           0                         Check-Out                     Laura_M@gmail.com
...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  ...
City Hotel   0           23        2017              August             35                       30                        2                       5                    2      0.0      0      BB   BEL     Offline TA/TO  TA/TO                0                 0                      0                              A                  A                  0               No Deposit   394.0 NaN     0                    Transient     96.14  0                           0                         Check-Out                   Claudia.J@yahoo.com
                         102       2017              August             35                       31                        2                       5                    3      0.0      0      BB   FRA     Online TA      TA/TO                0                 0                      0                              E                  E                  0               No Deposit   9.0   NaN     0                    Transient     225.43 0                           2                         Check-Out                  WAguilar@xfinity.com
                         34        2017              August             35                       31                        2                       5                    2      0.0      0      BB   DEU     Online TA      TA/TO                0                 0                      0                              D                  D                  0               No Deposit   9.0   NaN     0                    Transient     157.71 0                           4                         Check-Out              Mary_Morales@hotmail.com
                         109       2017              August             35                       31                        2                       5                    2      0.0      0      BB   GBR     Online TA      TA/TO                0                 0                      0                              A                  A                  0               No Deposit   89.0  NaN     0                    Transient     104.4  0                           0                         Check-Out               MD_Caroline@comcast.net
                         205       2017              August             35                       29                        2                       7                    2      0.0      0      HB   DEU     Online TA      TA/TO                0                 0                      0                              A                  A                  0               No Deposit   9.0   NaN     0                    Transient     151.2  0                           2                         Check-Out                  Ariana_M@xfinity.com

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 Ellipsis  \

In [46]:
#to remover header
csv_3 = pd.read_csv("//Users//vishwamalani//Desktop//python//hotel_booking.csv",header = None ) #csv_3 = pd.read_csv("//Users//vishwamalani//Desktop//python//hotel_booking.csv",header = None , prefix="col") 
csv_3

/var/folders/g8/v7l2b4sn4x11vqzg4wlpj1t00000gn/T/ipykernel_32701/1508065263.py:2: DtypeWarning: Columns (1,2,3,5,6,7,8,9,10,11,16,17,18,21,23,24,25,27,28,29) have mixed types. Specify dtype option on import or set low_memory=False.
  csv_3 = pd.read_csv("//Users//vishwamalani//Desktop//python//hotel_booking.csv",header = None )

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
1,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
2,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
3,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
4,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119386,City Hotel,0,23,2017,August,35,30,2,5,2,...,Transient,96.14,0,0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647
119387,City Hotel,0,102,2017,August,35,31,2,5,3,...,Transient,225.43,0,2,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
119388,City Hotel,0,34,2017,August,35,31,2,5,2,...,Transient,157.71,0,4,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119389,City Hotel,0,109,2017,August,35,31,2,5,2,...,Transient,104.4,0,0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119390,City Hotel,0,205,2017,August,35,29,2,7,2,...,Transient,151.2,0,2,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

In [47]:
#to change type of data of particular column
csv_1 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv",dtype={"arrival_date_year":"float"})
csv_1

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015.0,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015.0,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015.0,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015.0,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015.0,July,27,1,0,2,2,...,Transient,98.00,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017.0,August,35,30,2,5,2,...,Transient,96.14,0,0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647
119386,City Hotel,0,102,2017.0,August,35,31,2,5,3,...,Transient,225.43,0,2,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
119387,City Hotel,0,34,2017.0,August,35,31,2,5,2,...,Transient,157.71,0,4,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119388,City Hotel,0,109,2017.0,August,35,31,2,5,2,...,Transient,104.40,0,0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119389,City Hotel,0,205,2017.0,August,35,29,2,7,2,...,Transient,151.20,0,2,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

# Pandas Functions

In [48]:
import pandas as pd
csv_1 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv")
csv_1

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.00,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,Transient,96.14,0,0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,Transient,225.43,0,2,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,Transient,157.71,0,4,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,Transient,104.40,0,0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,Transient,151.20,0,2,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

In [49]:
#total number of rows
csv_1.index

RangeIndex(start=0, stop=119390, step=1)

In [50]:
#total number of columns
csv_1.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date', 'name', 'email',
       'phone-number', 'credit_card'],
      dtype='object')

In [51]:
#to find numerical data
csv_1.describe

<bound method NDFrame.describe of                hotel  is_canceled  lead_time  arrival_date_year  \
0       Resort Hotel            0        342               2015
1       Resort Hotel            0        737               2015
2       Resort Hotel            0          7               2015
3       Resort Hotel            0         13               2015
4       Resort Hotel            0         14               2015
...              ...          ...        ...                ...
119385    City Hotel            0         23               2017
119386    City Hotel            0        102               2017
119387    City Hotel            0         34               2017
119388    City Hotel            0        109               2017
119389    City Hotel            0        205               2017

       arrival_date_month  arrival_date_week_number  \
0                    July                        27
1                    July                        27
2                    July                        27
3                    July                        27
4                    July                        27
...                   ...                       ...
119385             August                        35
119386             August                        35
119387             August                        35
119388             August                        35
119389             August                        35

        arrival_date_day_of_month  stays_in_weekend_nights  \
0                               1                        0
1                               1                        0
2                               1                        0
3                               1                        0
4                               1                        0
...                           ...                      ...
119385                         30                        2
119386                         31                        2
119387                         31                        2
119388                         31                        2
119389                         29                        2

        stays_in_week_nights  adults  ...  customer_type     adr  \
0                          0       2  ...      Transient    0.00
1                          0       2  ...      Transient    0.00
2                          1       1  ...      Transient   75.00
3                          1       1  ...      Transient   75.00
4                          2       2  ...      Transient   98.00
...                      ...     ...  ...            ...     ...
119385                     5       2  ...      Transient   96.14
119386                     5       3  ...      Transient  225.43
119387                     5       2  ...      Transient  157.71
119388                     5       2  ...      Transient  104.40
119389                     7       2  ...      Transient  151.20

       required_car_parking_spaces total_of_special_requests  \
0                                0                         0
1                                0                         0
2                                0                         0
3                                0                         0
4                                0                         1
...                            ...                       ...
119385                           0                         0
119386                           0                         2
119387                           0                         4
119388                           0                         0
119389                           0                         2

       reservation_status reservation_status_date                name  \
0               Check-Out              2015-07-01       Ernest Barnes
1               Check-Out              2015-07-01        Andrea Baker
2               Check-Out              2015-07-02      Rebecca Parker
3               Check-Out              2015-07-02        Laura Murray
4               Check-Out              2015-07-03         Linda Hines
...                   ...                     ...                 ...
119385          Check-Out              2017-09-06     Claudia Johnson
119386          Check-Out              2017-09-07      Wesley Aguilar
119387          Check-Out              2017-09-07        Mary Morales
119388          Check-Out              2017-09-07  Caroline Conley MD
119389          Check-Out              2017-09-07      Ariana Michael

                              email  phone-number       credit_card
0       Ernest.Barnes31@outlook.com  669-792-1661  ************4322
1            Andrea_Baker94@aol.com  858-637-6955  ************9157
2        Rebecca_Parker@comcast.net  652-885-2745  ************3734
3                 Laura_M@gmail.com  364-656-8427  ************5677
4                LHines@verizon.com  713-226-5883  ************5498
...                             ...           ...               ...
119385          Claudia.J@yahoo.com  403-092-5582  ************8647
119386         WAguilar@xfinity.com  238-763-0612  ************4333
119387     Mary_Morales@hotmail.com  395-518-4100  ************1821
119388      MD_Caroline@comcast.net  531-528-1017  ************7860
119389         Ariana_M@xfinity.com  422-804-6403  ************4482

[119390 rows x 36 columns]>

In [52]:
#to read only few amounts of data
csv_1 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv")
csv_1.head() #gets first five rows as a default

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.0,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498

In [53]:
#to read only few amounts of data 
csv_1 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv")
csv_1.head(2) #shows particular two rows

'''both aRE SAME
#to read only few amounts of data 
csv_1 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv")
csv_1[:2]
'''

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157

In [54]:
#to read only few amounts of data from last rows
csv_1 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv")
csv_1.tail() #showslast five rows #gets last five rows as a default

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,Transient,96.14,0,0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,Transient,225.43,0,2,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,Transient,157.71,0,4,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,Transient,104.40,0,0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,Transient,151.20,0,2,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

In [56]:
#to read only few amounts of data 
csv_1 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv")
csv_1.tail(3) #shows particular two last rows

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,Transient,157.71,0,4,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,Transient,104.40,0,0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,Transient,151.20,0,2,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

In [57]:
#to read only few amounts of data 
csv_1 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv")
csv_1[:2]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157

In [61]:
#to read only few amounts of data from 1 to 6th row
csv_1 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv")
csv_1[1:7]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.0,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.0,0,1,Check-Out,2015-07-03,Jasmine Fletcher,JFletcher43@xfinity.com,190-271-6743,************9263
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,...,Transient,107.0,0,0,Check-Out,2015-07-03,Dylan Rangel,Rangel.Dylan@comcast.net,420-332-5209,************6994

In [62]:
#to check type of your file
print(type(csv_1))

<class 'pandas.core.frame.DataFrame'>

In [63]:
#toconvert index to array
csv_1.index.array

<PandasArray>
[     0,      1,      2,      3,      4,      5,      6,      7,      8,
      9,
 ...
 119380, 119381, 119382, 119383, 119384, 119385, 119386, 119387, 119388,
 119389]
Length: 119390, dtype: int64

In [64]:
#to convert to numpy array
csv_1.to_numpy()
'''BOTHH ARE SAME
import numpy as np
v = np.asarray(csv_1)
v
'''

array([['Resort Hotel', 0, 342, ..., 'Ernest.Barnes31@outlook.com',
        '669-792-1661', '************4322'],
       ['Resort Hotel', 0, 737, ..., 'Andrea_Baker94@aol.com',
        '858-637-6955', '************9157'],
       ['Resort Hotel', 0, 7, ..., 'Rebecca_Parker@comcast.net',
        '652-885-2745', '************3734'],
       ...,
       ['City Hotel', 0, 34, ..., 'Mary_Morales@hotmail.com',
        '395-518-4100', '************1821'],
       ['City Hotel', 0, 109, ..., 'MD_Caroline@comcast.net',
        '531-528-1017', '************7860'],
       ['City Hotel', 0, 205, ..., 'Ariana_M@xfinity.com',
        '422-804-6403', '************4482']], dtype=object)

In [65]:
#to convert data into desencing order
csv_1.sort_index(axis=0,ascending = False)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,Transient,151.20,0,2,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,Transient,104.40,0,0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,Transient,157.71,0,4,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,Transient,225.43,0,2,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,Transient,96.14,0,0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.00,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322

In [69]:
#to change data of particular column and row
csv_1 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv")
csv_1["name"][1]='vishwa'
csv_1 #below code is same but without warning like this

/var/folders/g8/v7l2b4sn4x11vqzg4wlpj1t00000gn/T/ipykernel_32701/1014934002.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  csv_1["name"][1]='vishwa'

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,vishwa,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.00,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,Transient,96.14,0,0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,Transient,225.43,0,2,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,Transient,157.71,0,4,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,Transient,104.40,0,0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,Transient,151.20,0,2,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

In [75]:
#to change data of particular column and row
csv_1 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv")
csv_1.loc[1,"name"]="Vishwa"
csv_1

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Vishwa,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.00,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,Transient,96.14,0,0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,Transient,225.43,0,2,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,Transient,157.71,0,4,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,Transient,104.40,0,0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,Transient,151.20,0,2,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

In [73]:
#to get multiline data of particular column and row
csv_1 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv")
csv_1.loc[[2,3],["name","email"]]

             name                       email
2  Rebecca Parker  Rebecca_Parker@comcast.net
3    Laura Murray           Laura_M@gmail.com

In [76]:
#to get data of particular column and full row
csv_1 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv")
csv_1.loc[[2,3],:]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677

In [81]:
#to get singledata of particular column and row 
csv_1 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv")
csv_1.iloc[0,33] #[row,column]

'Ernest.Barnes31@outlook.com'

In [83]:
#to delete a whole column
csv_1 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv")
csv_1.drop("name",axis=1)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,0,Transient,0.00,0,0,Check-Out,2015-07-01,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,0,Transient,0.00,0,0,Check-Out,2015-07-01,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,Transient,75.00,0,0,Check-Out,2015-07-02,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,Transient,75.00,0,0,Check-Out,2015-07-02,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,Transient,98.00,0,1,Check-Out,2015-07-03,LHines@verizon.com,713-226-5883,************5498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,0,Transient,96.14,0,0,Check-Out,2017-09-06,Claudia.J@yahoo.com,403-092-5582,************8647
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,0,Transient,225.43,0,2,Check-Out,2017-09-07,WAguilar@xfinity.com,238-763-0612,************4333
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,0,Transient,157.71,0,4,Check-Out,2017-09-07,Mary_Morales@hotmail.com,395-518-4100,************1821
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,0,Transient,104.40,0,0,Check-Out,2017-09-07,MD_Caroline@comcast.net,531-528-1017,************7860
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,0,Transient,151.20,0,2,Check-Out,2017-09-07,Ariana_M@xfinity.com,422-804-6403,************4482

In [84]:
#to delete a whole row
csv_1 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv")
csv_1.drop(0,axis=0)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.00,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.00,0,1,Check-Out,2015-07-03,Jasmine Fletcher,JFletcher43@xfinity.com,190-271-6743,************9263
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,Transient,96.14,0,0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,Transient,225.43,0,2,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,Transient,157.71,0,4,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,Transient,104.40,0,0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,Transient,151.20,0,2,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482